// Post SCSS for the theme.

body.pagelayout-login {
    background-image: url([[pix:theme_enseboost|loginbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-frontpage {
    background-image: url([[pix:theme_enseboost|frontpagebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-mydashboard {
    background-image: url([[pix:theme_enseboost|dashboardbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-course,
body.pagelayout-incourse {
    background-image: url([[pix:theme_enseboost|incoursebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-embedded,
body.pagelayout-popup,
body.pagelayout-secure,
body.pagelayout-print {
    background-image: none;
}
body {
    background-image: url([[pix:theme_enseboost|defaultbackgroundimage]]);
    background-size: cover;
}
.navbar-light {
    background-color: $blue-ense;
}
.usermenu {
    color: $electricBlue-ense;
}
[data-region="drawer"] {
    background-color: $grey-ense;
}

